@{
	ViewData["Title"] = "State List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data
@model DataTable
	<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i>&nbsp;Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a asp-controller="LOC_State" asp-action="State">State List</a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light bordered margin-top-10">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">State List</span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided">
                <a asp-area="LOC_State" asp-controller="LOC_State" asp-action="Add" class="btn green btn-rounded"><i class="fa fa-plus"></i>&nbsp;Add State</a>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="pull-right">
            <form method="post" asp-controller="LOC_State" asp-action="Search">
                <table>
	                <tr>
		                <th> <label>State Name &nbsp;</label> </th>
		                <th></th>
		                <th> <label>State Code &nbsp;</label> </th>
		                <th><label>&nbsp;</label></th>
		
	                </tr>
	                <tr>
		                <td>
                         <input type="text" name="StateName" class="form-control input-small" placeholder="Enter State Name" />
		                </td>
		                <td>&nbsp;</td>
		                <td>
			                <input type="text" name="StateCode" class="form-control input-small" placeholder="Enter State Code" />
		                </td>
		                &nbsp;
		                <td>
			                 <button class="btn btn-outline-primary">Search</button>
		                </td>
	                </tr>
                </table>
              </form>
        </div>
        <table class="table table-striped table-bordered table-hover table-header-fixed dataTable">
            <thead>
                <tr class="">
                    <th>Country Name</th>
                    <th>State Name</th>
                    <th>State Code</th>
                    <th class="text-center">Created</th>
                    <th class="text-center">Modified</th>
                    <th class="text-center">PhotoPath</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody id="sample_2">
                @foreach (DataRow dr in Model.Rows)
                {
                    <tr>
                        <td>@dr["CountryName"]</td>
                        <td>@dr["StateName"]</td>
                        <td>@dr["StateCode"]</td>
                        <td class="text-center">@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy hh:mm:ss")</td>
                        <td class="text-center">@Convert.ToDateTime(dr["ModificationDate"]).ToString("dd-MM-yyyy hh:mm:ss")</td>
                        <td><img src="@Url.Content(dr["PhotoPath"].ToString())" alt="img" height="50px" width="50px"/></td>
                        <td class="text-center">
                           <form method="post" asp-controller="LOC_State" asp-action="DeleteState">
			                    <input type="hidden" name="StateId" value="@Convert.ToInt32(dr["StateId"])"/>
			                    <button type="submit" class="btn btn-danger btn-xs" onclick=" return fun2()">
                                    <i class="fa fa-trash"></i>
		                         </button>
		                    <a class="btn btn-info btn-xs" asp-controller="LOC_State" asp-action="Add" asp-route-stateid="@Convert.ToInt32(dr["StateId"])"><i class="fa fa-pencil"></i></a>
		                    </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->

@section Scripts{
<script>

	    $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

	function fun2()
	{
		if(confirm("Are you sure want to delete"))
		{
			return true;
		}
		else
		{
			return false;
		}
	}
</script>
}

